body{
    background-color: #fff;
    font-family: Verdana; 
    margin: auto;
}

.title_back, .sub_title, .post, .rodape{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#title, .sub_title, .post_title{
    color: #000 
}

#title{
    font-size: 40px;
    text-transform: uppercase;
}

a{
  text-decoration: underline;
  color: #d40909;  
}

.sub_title{
    border: 3px solid #000;
    padding: 10px;
    border-radius: 10px;
}

.post_title{
    font: 15px;
    font-style: italic;
}

.foto_postagem{
    width: 100%;
}

.post {
    background: #fff;
    padding: 10px;
    border: 3px solid #000;
    border-radius: 10px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.title_back{    
    border: 3px solid #000;
    border-radius: 10px;
    text-align: center;
}

.foto_perfil{
    border-radius: 50%;
    border: 2px solid #000;
}

.rodape{
    border: 3px solid #000;
    border-radius: 10px;
    padding: 11px 15px;
}

.contacts_list{
    list-style-type: square;
    padding: 20px;
    margin: 0;
    border: 10px solid #000;
}