@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: cyan;
    font-family: 'Cabin', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}


button {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 40px;
}
